* {
	padding: 0;
	margin: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'segoe ui';
	font-size: 16px;
	background: #fff8f8;
}

a {
	text-decoration: none;
}
.contenedor {
	width: 80%;
	max-width: 1000px;
	margin: 30px auto;
	overflow: hidden;
}

h2 {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 20px;
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	color: rgb(0, 0, 0);
	text-shadow: 2px 2px 4px #474743;
}

.barra__buscador {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 10px;
}

.formulario {
	display: flex;
	flex: auto;
	width: 100%;
	overflow: hidden;
}

form .input__text {
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #848688;
	display: block;
	font-size: 14px;
	margin-bottom: 15px;
	padding: 10px 15px;
	max-width: 30%;
	margin-right: 10px;
	outline: medium none;
}

form .input__text:focus {
	border: 1px solid #1b743c;
}
form .form-group {
	display: flex;
	width: 100%;
	flex-wrap: nowrap;
	justify-content: space-between;
}

form .form-group .input__text {
	max-width: 45% !important;
}

form .btn {
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #fff;
	display: block;
	font-size: 14px;
	background: rgb(3, 113, 163);
	margin-bottom: 15px;
	padding: 10px 20px;
	margin-right: 10px;
	outline: medium none;
	cursor: pointer;
}
form .btn:hover {
	background: rgb(50, 150, 196);
}
.btn__nuevo {
	float: right;
	background: #1b743c !important;
}

.btn__nuevo:hover {
	float: right;
	background: #2c9b55 !important;
}

.btn__group {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.btn__primary {
	background: rgb(3, 113, 163);
}
.btn__danger {
	background: #8a0505 !important;
}

.btn__danger:hover {
	background: #b10d0d !important;
}

/* table */
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 1;
	width: 100%;
	background: rgb(254, 247, 255);
	background: linear-gradient(
		0deg,
		rgba(254, 247, 255, 1) 0%,
		rgba(255, 255, 255, 1) 100%
	);
}

table .head {
	background: rgb(0, 0, 0);
	border-top: black;
	padding: 10px;
}
table .head td {
	color: #fff;
	font-family: 'segoe ui', sans-serif;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
}

table tr td {
	border: 1px solid #ccc;
	padding: 7px;
	font-size: 14px;
	color: #555;
}

.btn__update {
	display: inline-block;
	font-size: 14px;
	background-color: #ffc107;
	color: #fff;
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
}

.btn__update:hover {
	color: black;
}

.btn__delete {
	display: inline-block;
	font-size: 14px;
	background: #8a0505;
	color: #fff;
	border-radius: 5px;
	padding: 5px 10px;
	text-align: center;
	cursor: pointer;
}

.btn__delete:hover {
	color: black;
}

/*nav bar*/
.nav {
	height: 50px;
	width: 100%;
	background: rgb(0, 0, 0);
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(75, 71, 71, 1) 100%
	);
	position: relative;
}

.nav-title {
	text-shadow: 2px 2px 4px #2c2a2c;
}

.nav > .nav-header {
	display: inline;
}

.nav > .nav-header > .nav-title {
	display: inline-block;
	font-size: 22px;
	color: #fff;
	padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
	display: none;
}

.nav > .nav-links {
	display: inline;
	float: right;
	font-size: 18px;
}

.nav > .nav-links > a {
	display: inline-block;
	padding: 13px 10px 13px 10px;
	text-decoration: none;
	color: #efefef;
}

.nav > .nav-links > a:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
	display: none;
}

@media (max-width: 600px) {
	.nav > .nav-btn {
		display: inline-block;
		position: absolute;
		right: 0px;
		top: 0px;
	}
	.nav > .nav-btn > label {
		display: inline-block;
		width: 50px;
		height: 20px;
		padding: 13px;
	}
	.nav > .nav-btn > label:hover,
	.nav #nav-check:checked ~ .nav-btn > label {
		background-color: rgba(0, 0, 0, 0.3);
	}
	.nav > .nav-btn > label > span {
		display: block;
		width: 25px;
		height: 10px;
		border-top: 2px solid #eee;
	}
	.nav > .nav-links {
		position: absolute;
		display: block;
		width: 100%;
		background: rgb(0, 0, 0);
		background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 1) 0%,
			rgb(47, 46, 46) 100%
		);
		height: 0px;
		transition: all 0.3s ease-in;
		overflow-y: hidden;
		top: 50px;
		left: 0px;
	}
	.nav > .nav-links > a {
		display: block;
		width: 100%;
	}
	.nav > #nav-check:not(:checked) ~ .nav-links {
		height: 0px;
	}
	.nav > #nav-check:checked ~ .nav-links {
		height: calc(25vh - 50px);
		overflow-y: auto;
	}
}

/*footer*/
.footer-distributed {
	background: rgb(0, 0, 0);
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(75, 71, 71, 1) 100%
	);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 45px 50px;
}

.footer-distributed .footer-left p {
	color: #8f9296;
	font-size: 14px;
	margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	margin: 0 0 10px;
	padding: 0;
	transition: ease 0.25s;
}

.footer-distributed p.footer-links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
	transition: ease 0.25s;
}

.footer-distributed .footer-links a:before {
	content: '·';
	font-size: 20px;
	left: 0;
	color: #fff;
	display: block;
	padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
	content: none;
}

.footer-distributed .footer-right {
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
	transition: all 0.25s;
}

.footer-distributed .footer-right a:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
	text-decoration: underline;
}

/* Media Queries */

@media (max-width: 600px) {
	.footer-distributed .footer-left,
	.footer-distributed .footer-right {
		text-align: center;
	}
	.footer-distributed .footer-right {
		float: none;
		margin: 0 auto 20px;
	}
	.footer-distributed .footer-left p.footer-links {
		line-height: 1.8;
	}
}

/*team section */
.container {
	margin-top: 50px;
}

img {
	border-radius: 50%;
}
.container .team {
	width: auto;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
}

.container .team .member {
	width: 325px;
	margin: 10px;
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
	padding: 25px;
}

.container .team .member img {
	width: 80px;
}

.container .team .member h3 {
	color: #444;
}

.container .team .member span {
	font-size: 12px;
	color: #999;
}

.container .team .member p {
	margin: 15px 0;
	font-weight: 400;
	color: #999;
	font-size: 15px;
	text-align: justify;
}

.container .team .member .btn a {
	background: #ddd;
	display: block;
	float: right;
	width: 125px;
	margin: 0 10px;
	padding: 10px;
	border-radius: 6px;
	color: #444;
	text-transform: capitalize;
	transition: all 0.3s ease;
}

.container .team .member .btn a:hover {
	background: #0a66c2;
	color: #fff;
}
